.logInBtn {
    position: fixed;
    top: 20px;
    right: 130px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.logInBtn:hover {
    background-color: #0056b3;
}

.registerBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.registerBtn:hover {
    background-color: #0056b3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*
.content {
    padding: 0 70px;
} */

#heading {
    position: fixed;
    top: 10px;
    left: 60px;
    color: #ff8600;
}

/* #quote span {
    font-size: 60px;
    color: #531cb3;;
} */

#quote {
    font-size: 50px;
    color: #531cb3;

    font-family: monospace;
    display: inline-block;
    white-space: pre;
    position: relative;
}

#cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background: black;
    animation: blink 0.3s steps(1) infinite;
    margin-left: 2px;
    vertical-align: bottom;
    position: absolute;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#myCanvas {
    border: 1px solid black;
    background: #d0f0ff;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: -100;
}
